@model MenuViewModel

@{
     var message = this.TempData["order"] as string;
}

@if (message != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Изпратено</strong> @message.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="row">
    <ul class="list-group list-group-horizontal mb-2">
        @* @foreach (var category in Model.)
            {
            <a class="mr-2"
            asp-action="ProductCount"
            asp-route-restaurantId="@Model.Id"
            asp-route-count="+">
            category
            </a>
            }*@

    </ul>
</div>


<div class=row>
    <div class="col-md-8">
        <ul class="list-group">
            @foreach (var product in Model.Menu)
            {
                <li class="list-group-item mb-3">
                    <div class="row">
                        <div class=col>
                            @product.Name - @product.Price лв.

                            <a class="btn btn-sm btn-primary float-right"
                           asp-action="Order"
                           asp-route-restaurantId="@Model.Id"
                           asp-route-productId="@product.Id">
                                <i class="fas fa-plus-circle"></i>
                            </a>
                        </div>

                    </div>
                    @product.Description
                </li>
            }
        </ul>
    </div>
    @if (Model.Order != null)
    {
        <div class="col-md-4">
            @foreach (var item in Model.Order.OrderProducts)
            {
                <div class="row">
                    <div class="col-md-2">
                        <a class="btn btn-sm btn-primary float-left"
                   asp-action="ProductCount"
                   asp-route-restaurantId="@Model.Id"
                   asp-route-productId="@item.ProductId"
                   asp-route-orderId="@item.OrderId"
                   asp-route-count="+">
                            <i class="fas fa-plus-circle"></i>
                        </a>
                    </div>
                    <div class="col text-center">
                        <p>@item.ProductName - @item.Count</p>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-sm btn-primary float-left"
                   asp-action="ProductCount"
                   asp-route-restaurantId="@Model.Id"
                   asp-route-productId="@item.ProductId"
                   asp-route-orderId="@item.OrderId"
                   asp-route-count="-">
                            <i class="fas fa-minus-circle"></i>
                        </a>
                    </div>
                </div>
            }
            <hr />
            @if (Model.Order.OrderProducts.ToList().Count != 0)
            {
                <div class="row justify-content-center">
                    <a class="btn btn-sm btn-primary float-left"
               asp-action="SendOrder"
               asp-route-restaurantId="@Model.Id">
                        Поръчай
                    </a>
                </div>

                <h5>Тотал: @Model.Order.TotaalSum лв.</h5>
            }
        </div>
    }
</div>






