@model MenuViewModel
@using RestaurantSystem.Web.Infrastructure

@{
    var message = this.TempData["order"] as string;
    var userId = ClaimsPrincipalExtensions.Id(this.User);
}

@if (message != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Изпратено</strong> @message.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="scrollmenu mb-4">
    <a asp-action="Menu"
       asp-route-restaurantId="@Model.Id">
        Всички
    </a>

    @foreach (var category in Model.Categories)
    {
        <a asp-action="Menu"
       asp-route-restaurantId="@Model.Id"
       asp-route-category="@category">
            @category
        </a>
    }
</div>
<hr />
<h5>@Model.Category</h5>
<div class=row>
    <div class="col-md-8">
        <ul class="list-group">
            @foreach (var product in Model.Menu)
            {
                var rating = product
                .Ratings
                .Select(x => x)
                .FirstOrDefault(x => x.UserId == userId);

                <li class="list-group-item mb-3">
                    <div class="row">
                        <div class=col>
                            @product.Name - @product.Price лв.
                            @if (product.Ratings.Count() != 0)
                            {
                                <div class="small">
                                    <i class="fa fa-star checked"></i> реитинг: @product.AverageRating / гласували: @product.RatingsCount
                                    <p class="text-muted">
                                </div>

                            }
                            <a class="btn btn-sm btn-primary float-right"
                           asp-action="Order"
                           asp-route-restaurantId="@Model.Id"
                           asp-route-productId="@product.Id"
                           asp-route-category="@Model.Category">
                                <i class="fas fa-plus-circle"></i>
                            </a>
                            @{
                                var type = product.GetType().Name;

                                this.ViewData["CurrentId"] = @product.Id;
                                this.ViewData["ObjectType"] = type;
                                this.ViewData["RestaurantId"] = Model.Id;

                                if (Model.Category != null)
                                {
                                     this.ViewData["Category"] = Model.Category;
                                }   
                            }
                            <partial name="_RatingPartial" model=@rating view-data="ViewData" />
                            <hr />
                        </div>

                    </div>
                    @product.Description
                </li>
            }
        </ul>
    </div>
    @if (Model.Order != null)
    {
        <div class="col-md-4">
            @foreach (var item in Model.Order.OrderProducts)
            {
                <div class="row">
                    <div class="col-md-2">
                        <a class="btn btn-sm btn-primary float-left"
                   asp-action="ProductCount"
                   asp-route-restaurantId="@Model.Id"
                   asp-route-productId="@item.ProductId"
                   asp-route-orderId="@item.OrderId"
                   asp-route-category="@Model.Category"
                   asp-route-count="+">
                            <i class="fas fa-plus-circle"></i>
                        </a>
                    </div>
                    <div class="col text-center">
                        <p>@item.ProductName - @item.Count</p>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-sm btn-primary float-left"
                   asp-action="ProductCount"
                   asp-route-restaurantId="@Model.Id"
                   asp-route-productId="@item.ProductId"
                   asp-route-orderId="@item.OrderId"
                   asp-route-category="@Model.Category"
                   asp-route-count="-">
                            <i class="fas fa-minus-circle"></i>
                        </a>
                    </div>
                </div>
            }
            <hr />
            @if (Model.Order.OrderProducts.ToList().Count != 0)
            {
                <div class="row justify-content-center">
                    <a class="btn btn-sm btn-primary float-left"
               asp-action="SendOrder"
               asp-route-restaurantId="@Model.Id">
                        Поръчай
                    </a>
                </div>
                <div class="row justify-content-center mt-2">
                    <small>включена доставка @Model.DeliveryPeice лв.</small>
                </div>

                <div class="row justify-content-center">
                    <h4>Тотал: @Model.Order.TotaalSum лв.</h4>
                </div>
            }
        </div>
    }
</div>
