@model AllMessagesViewModel
@using RestaurantSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager


<div class="row">
    <div class="col-md-4 mb-4">
        <input class="form-control me-2" id="myInput" onkeyup="myFunction()" type="search" placeholder="Search by email">
    </div>

</div>

<div class="card mb-5">
    <div class="card-header">
        <span style="font-size: 1.2em; color: orange;">
            <i class="far fa-envelope"></i> (@Model.UnreadMessagesCount) нови саобщения
        </span>
    </div>
    <div class="card-block p-0">
        <table id="myTable" class="table table-bordered table-sm m-0">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Потребител</th>
                    <th scope="col">Дата</th>
                    <th scope="col"></th>
                    <th scope="col">Тема</th>
                    <th scope="col">Саобщение</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var message in Model.Messages.OrderByDescending(x => x.NewUserRepliesCount))
                {
                    var user = await this.UserManager.FindByIdAsync(message.UserId);

                    <tr id="myUL">
                        <td class="text-center">
                            @if (message.Status == "Pending")
                            {
                                <span style="font-size: 1em; color: orange;">
                                    <i class="fas fa-circle"></i>
                                </span>
                            }
                            @if (message.Status == "Answered")
                            {
                                <span style="font-size: 1em; color: green;">
                                    <i class="fas fa-circle"></i>
                                </span>
                            }
                            @if (message.Status == "Approved")
                            {
                                <span style="font-size: 1em; color: purple;">
                                    <i class="fas fa-circle"></i>
                                </span>
                            }
                        </td>
                        <td>@user.Email</td>
                        <td>@message.CreatedOn.ToString("dd.MM.yy HH:mm")</td>
                        <td class="text-center">
                            <span style="font-size: 1em; color: green;">
                                <i class="fas fa-bell"></i> (@message.NewUserRepliesCount)
                            </span>

                        </td>
                        <td>@message.MessageType</td>
                        <td>
                            <a asp-action="ReadMessage"
                           asp-route-messageId="@message.Id"
                           class="btn-primary btn-sm">
                                <i class="fas fa-comment-alt"></i> Прочети
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>