@model IEnumerable<NotificationViewModel>


<button type="button" class="btn btn-sm btn-primary position-relative" data-toggle="modal" data-target="#exampleModal">
    <i class="fas fa-bell"></i>
    @{
        var newNotifications = Model.Select(x => x).Where(x => x.IsSeen == false).Count();
    }

    @if (newNotifications > 0)
    {
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">@newNotifications</span>
    }

</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">Известия</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="list-group">

                    @foreach (var notification in Model)
                    {
                        var sendBefore = DateTime.UtcNow - notification.CreatedOn;
                        var actionName = string.Empty;

                        if (notification.NotificationType == "Order")
                        {
                            actionName = "OrderDetails";

                        }
                        if (notification.NotificationType == "Reservation")
                        {
                            actionName = "ReservationDetails";

                        }
                        if (notification.NotificationType == "Message")
                        {
                            actionName = "MessageDetails";

                        }

                        <a asp-area=""
                       asp-controller="Users"
                       asp-action="@actionName"
                       asp-route-targetId="@notification.TargetId"
                       asp-route-notificationId="@notification.Id"
                       class="list-group-item list-group-item-action flex-column align-items-start mb-3 ">
                            <div class="d-flex w-100 justify-content-between">
                                <h7 class="mb-1">
                                    @if (!notification.IsSeen)
                                    {
                                        <small>
                                            <span style="font-size: 0.7em; color: green;">
                                                <i class="fas fa-circle"></i>
                                            </span>
                                        </small>
                                    }

                                    @notification.CreatedOn.ToString("dd.MM.yy - HH:mm")

                                </h7>

                                @if (sendBefore.Days == 0)
                                {
                                    <small>днес</small>
                                }
                                else
                                {
                                    <small>преди @sendBefore.Days дни</small>
                                }


                            </div>
                            <p class="mb-1">@notification.Message</p>

                        </a>
                    }
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>