@model AppMessageViewModel

<div class="container">
    <div class="row message-wrapper rounded shadow mb-20">
        <div class="col-md-8 message-sideright">
            <div class="panel">
                <div class="panel-heading">
                    <div class="media">
                        <div class="media-body">
                            <h5 class="media-heading"> <small>(@Model.MessageType)</small></h5>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p class="lead">
                        @Model.Message
                    </p>
                    <hr>
                    @{

                        var orderReplies = Model.Replies.OrderBy(x => x.CreatedOn);
                    }

                    @foreach (var item in orderReplies)
                    {
                        <div class="ml-4">
                            <p>
                                <small>@item.CreatedOn.ToString("dd.MM.yy HH:mm") - @item.Sender</small>
                            </p>
                            <p>@item.Text</p>
                        </div>

                        <hr />
                    }
                    <br>

                    @if (!Model.IsOpen)
                    {
                        <form asp-controller="Contacts" asp-action="ReadMessage" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <textarea rows=3 asp-for="ReplyInput.Text" class="form-control" placeholder="Отговор"></textarea>
                                <span asp-validation-for="ReplyInput.Text" class="text-danger"></span>
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="Replies" />
                                <input type="hidden" asp-for="UserId" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Изпрати" class="btn btn-sm btn-primary" />
                            </div>
                        </form>
                    }

                </div>
            </div>

        </div>
    </div>

</div>