@model IEnumerable<MyRestaurantsViewModel>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Име</th>
            <th scope="col">Описание</th>
            <th scope="col">Работно време</th>
            <th scope="col">Доставна Цена</th>
            <th scope="col">
                <a class="btn btn-success btn-sm"
                   asp-action="Registration">
                    <i class="fas fa-plus-circle"></i> <strong>Добави нов</strong>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var restaurant in Model)
        {
            <tr>
                <td><strong>@restaurant.Name</strong></td>
                <td><strong>@restaurant.Description.Substring(0, 20)</strong></td>
                <td>@restaurant.OpenIn.ToString("HH:mm") - @restaurant.CloseIn.ToString("HH:mm")</td>
                <td>@restaurant.DeliveryPeice лв.</td>
                <td>
                    <a class="btn btn-primary btn-sm"
                        asp-controller="Menu"
                        asp-action="Index" 
                        asp-route-restaurantId= "@restaurant.Id">
                        <i class="fas fa-hamburger"></i> Меню
                    </a>
                    <a class="btn btn-warning btn-sm"
                        asp-controller="Orders"
                        asp-action="Index"
                        asp-route-restaurantId="@restaurant.Id">
                        <i class="fas fa-cart-arrow-down"></i> Поръчки
                    </a>
                    <a class="btn btn-success btn-sm"
                        asp-action="Reservations"
                        asp-route-restaurantId="@restaurant.Id">
                        <i class="fas fa-glass-cheers"></i> Резерваций
                    </a>
                    <a class="btn btn-danger btn-sm"
                        asp-action="Edit"
                        asp-route-restaurantId="@restaurant.Id">
                        <i class="fas fa-tools"></i> Настройки
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>